{% extends 'kerkdiensten/base_kerkdiensten.html' %}
{% block body %}

<h2>Welkom {{ user.username }}!</h2>

{% if kerk %}
<h4>je zit in kerk: {{ kerk.kerk.kerk_naam }}</h4>
{% endif %}

{% if kerk_keuze %}
<h4>Kies een kerk:</h4>
<form action="{% url 'kerkdiensten:voeg_kerk_toe' %}" method="post">
    <select name="kerk_pk">
    {% for kerk in kerk_keuze %}
    <option value="{{ kerk.pk }}">{{ kerk.kerk_naam }}</option>
    {% endfor %}
    </select><br/>
    {% csrf_token %}
    <button type="submit">Kies kerk!</button>
</form>
{% endif %}

<form action="{% url 'kerkdiensten:index' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Dienst</th>
            {% for rol in rollen_lijst %}
            <th>{{ rol.rollen }}</th>
            {% endfor %}
        </tr>
        {% for dienst in kerk_diensten %}
        <tr>
            <td><a href="{% url 'kerkdiensten:dienst' dienst.pk %}"><!--{{ dienst.start_time|date:"l, j F" }}-->{{ dienst }}</td>
            {% for rolx in rollen_lijst %}
            <td><input type="checkbox" name="{{ rolx }}" value="{{ dienst.pk }}" {% for beschikte in beschikbaar %} {% if dienst.pk == beschikte.0 %} {% if rolx.rollen == beschikte.1 %} checked {% endif %} {% endif %} {% endfor %}></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Opslaan"></input>
</form>
<br />

{% endblock body %}
