{% extends 'kerkdiensten/base_kerkdiensten.html' %}
{% load gen_iter %}
{% block body %}

<h2>Welkom {{ user.username }}!</h2>

{% if kerk %}
<h4>U zit in kerk: {{ kerk.kerk.kerk_naam }}</h4>
{% endif %}

<p>
    Zoals u ziet staan hierboven uw kerk en gebruikersnaam.<br />
    Hieronder in de tabel vindt u alle aankomende kerkdiensten, ook kunt u de beschikbaarheid voor de rollen die toegekend zijn invullen.<br />
    Daarnaast ziet u of en als wat u bent ingeroosterd voor een bepaalde kerkdienst.<br />
    Het kan zijn dat je niets kan aanvinken, dit betekent dat de roostermaker heeft aangegeven dat de beschikbaarheid niet meer kan veranderen.<br />
    De roostermaker kan dit aangeven op de website bij 'roosters'.<br />
    Op onderstaande kerkdiensten kunt u klikken, u krijgt dan een overzicht van deze kerkdienst.<br />
</p>
<p>
    De beheerder kan daarnaast ook op dit scherm kerkdiensten toevoegen.<br />
    De manier waarop dit gebeurt spreekt redelijk voor zich.
</p>

{% for rolxy in user_details.rollen_v2.all %}
{% if rolxy.rollen == 'Beheerder' %}
<h4>Voeg kerkdienst toe:</h4>
<form action="{% url 'kerkdiensten:add_kerkdienst' %}" method="post">
    {% csrf_token %}
    Datum:
    <input type="date" name="datum"><br />
    Soort dienst:
    <select name="dienstsoort">
        {% for dienstsoort in dienstsoorten %}
        <option value="{{ dienstsoort.pk }}">{{ dienstsoort }}</option>
        {% endfor %}
    </select><br />
    <input type="submit" value="Toevoegen!">

</form>
{% endif %}
{% endfor %}


<br />
{% if kerk_keuze %}
<h4>Kies een kerk:</h4>
<form action="{% url 'kerkdiensten:voeg_kerk_toe' %}" method="post">
    {% csrf_token %}
    <select name="kerk_pk">
    {% for kerk in kerk_keuze %}
    <option value="{{ kerk.pk }}">{{ kerk.kerk_naam }}</option>
    {% endfor %}
    </select><br/>
    <button type="submit">Kies kerk!</button>
</form>
{% endif %}

<form action="{% url 'kerkdiensten:index' %}" method="post">
    {% csrf_token %}
    <fieldset {% if not kerk_diensten.0.beschikbaarheid_open %} disabled {% endif%}>
    <table>
        <tr>
            <th style="padding-left:10px;">Dienst</th>
            {% for rol in rollen_lijst %}
            <th style="padding-left:10px;">{{ rol.rollen }}</th>
            {% endfor %}
            <th style="padding-left:10px;">Ingeroosterd als</th>
        </tr>

        {% for dienst in kerk_diensten %}
        <tr>
            <td style="padding-left:10px;"><a href="{% url 'kerkdiensten:dienst' dienst.pk %}"><!--{{ dienst.start_time|date:"l, j F" }}-->{{ dienst }}</td>
            {% for rolx in rollen_lijst %}
            <td style="padding-left:10px;"><input type="checkbox" name="{{ rolx }}" value="{{ dienst.pk }}" {% for beschikte in beschikbaar %} {% if dienst.pk == beschikte.0 %} {% if rolx.rollen == beschikte.1 %} checked {% endif %} {% endif %} {% endfor %}></td>
            {% endfor %}
            <td style="padding-left:10px;">{% for ingeroosterde in ingeroosterdDict|dictkey:dienst %}{{ingeroosterde.rol}}{% if not ingeroosterde.instrument == None %}:{{ ingeroosterde.instrument }}{% endif %}{% endfor %}</td>

        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Opslaan">
     </fieldset>
</form>
<br />

{% endblock body %}
