{% extends 'kerkdiensten/base_kerkdiensten.html' %}
{% load gen_iter %}
{% block body %}
<h1>Welkom op de rooster maak pagina!</h1>
<p>
    Op deze pagina kunt u de roosters maken en de beschikbaarheid vast zetten.<br />
    Als u de beschikbaarheid vast zet kunnen de leden geen beschikbaarheid meer invoeren.<br />
    U kunt natuurlijk ook de beschikbaarheid weer open zetten door op onderstaande knop te drukken.<br />
    <br />
    U kunt per dienst het rooster maken voor de verschillende taken.<br />
    Ik weet niet of dit de beste aanpak, misschien is het handiger om een grote tabel te maken.<br />
    Graag hoor ik hier iets van terug als feedback.<br />
    <br />
    Naast deze functies kunt u ook het rooster voor de muziekanten maken, klik hiervoor op 'Maak rooster voor muziekanten'.<br />
</p>


<a href="{% url 'kerkdiensten:rooster_muzikanten' %}">Maak rooster voor muzikanten</a>
<form method="post" action="{% url 'kerkdiensten:toggle_beschikbaarheid' %}">
    {% csrf_token %}
    <input type="submit" value="{% if kerk_diensten.0.beschikbaarheid_open %}Beschikbaarheid vastzetten{% else %}Beschikbaarheid openen{% endif %}">
</form>
<br />
{% for kerkDienst in kerkDienstDict %}
<form action="{% url 'kerkdiensten:maak_rooster' %}" method="post">
    {% csrf_token %}
    <h2>{{ kerkDienst }}</h2>
    <table>
        <tr>
            {% for rol in rollenv2 %}
            <th style="padding-left:10px;">{{ rol }}</th>
            {% endfor %}
        </tr>
        {% for row in kerkDienstDict|dictkey:kerkDienst %}
        <tr>
            {% for col in row %}
            {% if col.user %}
            <td style="padding-left:10px;">{{col.user}}{% if not col.instrument == None %}:{{ col.instrument }}{% endif %}<input type="checkbox" name="{{ kerkDienst.pk }}" value="{{ col }}" {% if col in ingeroosterdDict|dictkey:kerkDienst %} checked {% endif %}></td>
            {% else %}
            <td style="padding-left:10px;">-</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Opslaan">
</form>
{% endfor %}
<br />


{% endblock body %}