{% extends 'kerkdiensten/base_kerkdiensten.html' %}
{% load gen_iter %}
{% block body %}
<h1>Welkom op de rooster maak pagina!</h1>
<a href="{% url 'kerkdiensten:rooster_muzikanten' %}">Maak rooster voor muzikanten</a>
<form method="post" action="{% url 'kerkdiensten:toggle_beschikbaarheid' %}">
    {% csrf_token %}
    <input type="submit" value="{% if kerk_diensten.0.beschikbaarheid_open %}Beschikbaarheid vastzetten{% else %}Beschikbaarheid openen{% endif %}">
</form>
<br />
{% for kerkDienst in kerkDienstDict %}
<form action="{% url 'kerkdiensten:maak_rooster' %}" method="post">
    {% csrf_token %}
    <h2>{{ kerkDienst }}</h2>
    <table>
        <tr>
            {% for rol in rollenv2 %}
            <th style="padding-left:10px;">{{ rol }}</th>
            {% endfor %}
        </tr>
        {% for row in kerkDienstDict|dictkey:kerkDienst %}
        <tr>
            {% for col in row %}
            {% if col.user %}
            <td style="padding-left:10px;">{{col.user}}{% if not col.instrument == None %}:{{ col.instrument }}{% endif %}<input type="checkbox" name="{{ kerkDienst.pk }}" value="{{ col }}" {% if col in ingeroosterdDict|dictkey:kerkDienst %} checked {% endif %}></td>
            {% else %}
            <td style="padding-left:10px;">-</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Opslaan">
</form>
{% endfor %}
<br />


{% endblock body %}