{% extends 'kerkdiensten/base_kerkdiensten.html' %}

{% block body %}
<h1>Pagina muzikanten rooster</h1>
Op deze pagina kunt u het rooster voor de muzikanten maken.<br />
Dit gebeurt ook hier weer per dienst, het opslaan gebeurt echter voor alle diensten in beeld.<br />
Met de button 'Voeg team toe' worden automatisch alle checkboxes van het desbetreffende muziekteam aangevinkt.<br /><br />
Als er een uitroepteken (!) Achter de beschikbaarheid staat betekent het dat het hele team aanwezig is.<br />
Het uitroepteken komt er ook als er tenminste één zangleiding beschikbaar is en van alle instrumenten binnen het muziekteam minstens één.<br />
Als er bijvoorbeeld alleen maar een zangleiding beschikbaar is naast de instrumenten dan komt er ook een (!) achter de naam te staan.<br />

<br />
<form method="post" action="{% url 'kerkdiensten:maak_muzikanten_rooster' %}">
    {% csrf_token %}
    <table>
        {% for row in superList %}
        <tr>
            {% for col in row %}
            <td style="padding-left:10px;" >{{ col | safe }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Oplsaan">
</form>
<script>
$(document).ready(function(){
    var checkboxSet = new Set();
    $(':checkbox').each(function () {
         checkboxSet.add($(this).attr('name'));
    });
    for (let item of checkboxSet){
        if ($('input[name="'+item+'"]').length == $('input[name="'+item+'"]:checked').length){
            var textButton = $('a[id="'+item+'"]');
            textButton.attr('class', 'removeTeam');
            textButton.text('Verwijder team');
        }
    }

});
$(".addTeam").on('click', function () {

    var checkboxName = $(this).attr('id');
    var buttonClass = $(this).attr('class');
    if (buttonClass == 'addTeam'){
        $("input[name='"+checkboxName+"']").each(function () {
            $(this).prop("checked", true);
            checkboxChecker(this);
        });
        $(this).attr('class', 'removeTeam');
        $(this).text('Verwijder team');
    } else {
        $("input[name='"+checkboxName+"']").each(function () {
            $(this).prop("checked", false);
            checkboxChecker(this);
        });
        $(this).attr('class', 'addTeam');
        $(this).text('Voeg team toe');
    }
});
$(':checkbox').change(function () {
    checkboxChecker(this)
});
function checkboxChecker(cbx){
    var stateGoto = $(cbx).prop('checked');
    var muziekteam = $(cbx).attr('name').split(':')[0];
    var user = $(cbx).attr('value');
    $('input:checkbox[value^="'+user+'"]').each(function () {
        var muziekteamCheck = $(this).attr('name').split(':')[0];
        if (muziekteamCheck == muziekteam){
            $(this).prop('checked', stateGoto);
        }
    });
}
</script>
{% endblock body %}