{% extends 'base.html' %}
{% load gen_iter %}
{% block navitems %}
<div class="collapse navbar-collapse">
    {% if user.is_authenticated %}
    <ul class="nav navbar-nav">
        <li><a href="{% url 'kerkdiensten:index' %}">Kerkdiensten</a></li>
        {% for rollh in request.user|alleRollen %}
        {% if rollh.rollen == 'Roostermaker' %}
        <li><a href="{% url 'kerkdiensten:rooster' %}">Roosters</a></li>
        {% endif %}
        {% if rollh.rollen == 'Beheerder' %}
        <li><a href="{% url 'kerkdiensten:leden' %}">Leden</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'kerkdiensten:profile' %}">Account</a></li>
        <li class=""><a href="{% url 'home:logout' %}">Uitloggen</a></li>
        {% else %}
        <li class=""><a href="{% url 'home:login' %}">Inloggen</a></li>
        {% endif %}
    </ul>
</div>
{% endblock navitems%}